.firmos .dijitContentPane{padding:0px;}
.firmos .dijitTabContainerLeft-dijitContentPane,.firmos .dijitTabContainerBottom-dijitContentPane,.firmos .dijitTabContainerRight-dijitContentPane,.firmos .dijitAccordionContainer-dijitContentPane{background-color:#5673c5;padding:0px 0px 0px =px;}
.dijitTabContainerTop-dijitContentPane{background-color:#3f5490;padding:6px 6px 6px 6px;}
.dijitTabContainerTop-child .dijitContentPane{background-color:none;}
.firmos .dijitSplitContainer-dijitContentPane,.firmos .dijitBorderContainer-dijitContentPane{padding:0px;}
