/* Slider 
 * 
 * Styling Slider mainly includes styling the Slider progress bar (dijitSliderProgressBar)
 * 
 * Slider progress bar:
 * 1. Slider progress bar (default styling): 
 * 		.dijitSliderProgressBarH - progress bar at the middle of horizontal slider
 * 		.dijitSliderLeftBumper - bar at the left of horizontal slider
 * 		.dijitSliderRightBumper - bar at the right of horizontal slider
 * 		.dijitSliderProgressBarV - progress bar at the middle of vertical slider
 * 		.dijitSliderTopBumper - bar at the top of vertical slider
 * 		.dijitSliderBottomtBumper - bar at the bottom of vertical slider
 * 
 * 2. hovered Slider progress bar (ie, mouse hover on progress bar)
 * 		.dijitSliderHover .dijitSliderProgressBarH(horizontal) - hovered bar style: background, border
 * 
 * 3. focused Slider progress bar (ie, mouse focused on progress bar)
 * 		.dijitSliderFocused .dijitSliderProgressBarH(horizontal) - focus bar style: background, border
 * 
 * 4. disabled/read-only Slider progress bar 
 * 		.dijitSliderDisabled .dijitSliderProgressBarH(horizontal) - bar styles when slider is disabled
 * 
 * 
 * Slider Thumbs:
 * 1. Slider Thumbs (default styling): 
 * 		.dijitSliderImageHandleH / .dijitSliderImageHandleV - styles for the controller on the progress bar
 * 
 * 2. hovered Slider Thumbs (ie, mouse hover on slider thumbs)
 * 		.dijitSliderHover .dijitSliderImageHandleH - hovered controller style
 * 
 * 3. focused Slider progress bar (ie, mouse focused on slider thumbs)
 * 		.dijitSliderFocused .dijitSliderImageHandleV - focused controller style
 * 
 * 
 * Slider Increment/Decrement Buttons:
 * 1. Slider Increment/Decrement Buttons (default styling): 
 * 		.dijitSliderDecrementIconH - decrement icon which lies at the left of horizontal slider
 * 		.dijitSliderIncrementIconH - increment icon which lies at the right of horizontal slider
 * 		.dijitSliderDecrementIconV - decrement icon which lies at the bottom of vertical slider
 * 		.dijitSliderIncrementIconV - increment icon which lies at the top of vertical slider
 * 
 * 2. hovered Slider Increment/Decrement Buttons (mouse hover on the icons)
 * 		.dijitSliderHover .dijitSliderDecrementIconH - for background, border
 * 
 * 3. active Slider Increment/Decrement Buttons (mouse down on the icons)
 * 		.dijitSliderActive .dijitSliderIncrementIconV - for background, border
 * 
 * 4. disabled/read-only Slider Increment/Decrement Buttons
 * 		.dijitSliderDisabled .dijitSliderDecrementIconH - styles for the icons in disabled slider
 * 		.dijitSliderReadOnly .dijitSliderIncrementIconV - styles for the icons in read-only slider
 */
.firmos .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.firmos .dijitSliderFocused .dijitSliderBar {
  border-color: #1e1e1e;
}
.firmos .dijitSliderHover .dijitSliderBar {
  border-color: #1e1e1e;
}
.firmos .dijitSliderDisabled .dijitSliderBar {
  background-image: none;
  border-color: #c4c4c4;
}
.firmos .dijitRuleLabelsContainer {
  color: #000000;
}
/* Horizontal Slider */
.firmos .dijitRuleLabelsContainerH {
  padding: 2px 0;
}
.firmos .dijitSlider .dijitSliderProgressBarH,
.firmos .dijitSlider .dijitSliderLeftBumper {
  border-color: #414141;
  background-color: #3f5490;
  background-image: -moz-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -webkit-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: -o-linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
  background-image: linear-gradient(top, #ffffff 0px, #ffffff 1px, rgba(255, 255, 255, 0) 2px);
}
.firmos .dijitSlider .dijitSliderRemainingBarH,
.firmos .dijitSlider .dijitSliderRightBumper {
  border-color: #414141;
  background-color: #ffffff;
}
.firmos .dijitSliderRightBumper {
  border-right: solid 1px #414141;
}
.firmos .dijitSliderLeftBumper {
  border-left: solid 1px #414141;
}
.firmos .dijitSliderHover .dijitSliderProgressBarH,
.firmos .dijitSliderHover .dijitSliderLeftBumper {
  background-color: #25408b;
  border-color: #1e1e1e;
}
.firmos .dijitSliderHover .dijitSliderRemainingBarH,
.firmos .dijitSliderHover .dijitSliderRightBumper {
  background-color: #ffffff;
  border-color: #1e1e1e;
}
.firmos .dijitSliderFocused .dijitSliderProgressBarH,
.firmos .dijitSliderFocused .dijitSliderLeftBumper {
  background-color: #25408b;
  border-color: #1e1e1e;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.firmos .dijitSliderFocused .dijitSliderRemainingBarH,
.firmos .dijitSliderFocused .dijitSliderRightBumper {
  background-color: #ffffff;
  border-color: #1e1e1e;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.firmos .dijitSliderDisabled .dijitSliderProgressBarH,
.firmos .dijitSliderDisabled .dijitSliderLeftBumper {
  background-color: #c4c4c4;
  /* left side of slider, fill matches border */

  background-image: none;
}
.firmos .dijitSliderDisabled .dijitSliderRemainingBarH,
.firmos .dijitSliderDisabled .dijitSliderRightBumper {
  background-color: #dddddd;
}
/* Vertical Slider */
.firmos .dijitRuleLabelsContainerV {
  padding: 0 2px;
}
.firmos .dijitSlider .dijitSliderProgressBarV,
.firmos .dijitSlider .dijitSliderBottomBumper {
  border-color: #414141;
  background-color: #3f5490;
  background-image: -moz-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: -webkit-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 1px);
}
.firmos .dijitSlider .dijitSliderRemainingBarV,
.firmos .dijitSlider .dijitSliderTopBumper {
  border-color: #414141;
  background-color: #ffffff;
}
.firmos .dijitSliderBottomBumper {
  border-bottom: solid 1px #414141;
}
.firmos .dijitSliderTopBumper {
  border-top: solid 1px #414141;
}
.firmos .dijitSliderHover .dijitSliderProgressBarV,
.firmos .dijitSliderHover .dijitSliderBottomBumper {
  background-color: #25408b;
  border-color: #1e1e1e;
}
.firmos .dijitSliderHover .dijitSliderRemainingBarV,
.firmos .dijitSliderHover .dijitSliderTopBumper {
  background-color: #ffffff;
  border-color: #1e1e1e;
}
.firmos .dijitSliderFocused .dijitSliderProgressBarV,
.firmos .dijitSliderFocused .dijitSliderBottomBumper {
  background-color: #25408b;
  border-color: #1e1e1e;
  -webkit-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.firmos .dijitSliderFocused .dijitSliderRemainingBarV,
.firmos .dijitSliderFocused .dijitSliderTopBumper {
  background-color: #ffffff;
  border-color: #1e1e1e;
  -webkit-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.firmos .dijitSliderDisabled .dijitSliderProgressBarV,
.firmos .dijitSliderDisabled .dijitSliderBottomBumper {
  background-color: #c4c4c4;
  /* bottom side of slider, fill matches border */

}
.firmos .dijitSliderDisabled .dijitSliderRemainingBarV,
.firmos .dijitSliderDisabled .dijitSliderTopBumper {
  background-color: #dddddd;
}
/* ------- Thumbs ------- */
.firmos .dijitSliderImageHandleH {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("../form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.firmos .dijitSliderHover .dijitSliderImageHandleH {
  background-position: -18px 0;
}
.firmos .dijitSliderFocused .dijitSliderImageHandleH {
  background-position: -36px 0;
}
.firmos .dijitSliderProgressBarH .dijitSliderThumbHover {
  background-position: -36px 0;
}
.firmos .dijitSliderProgressBarH .dijitSliderThumbActive {
  background-position: -36px 0;
}
.firmos .dijitSliderReadOnly .dijitSliderImageHandleH,
.firmos .dijitSliderDisabled .dijitSliderImageHandleH {
  background-position: -54px 0;
}
.firmos .dijitSliderImageHandleV {
  border: 0;
  width: 18px;
  height: 16px;
  background-image: url("../form/images/sliderThumbs.png");
  background-repeat: no-repeat;
  background-position: -289px 0;
}
.firmos .dijitSliderHover .dijitSliderImageHandleV {
  background-position: -307px 0;
}
.firmos .dijitSliderFocused .dijitSliderImageHandleV {
  background-position: -325px 0;
}
.firmos .dijitSliderProgressBarV .dijitSliderThumbHover {
  background-position: -325px 0;
}
.firmos .dijitSliderProgressBarV .dijitSliderThumbActive {
  background-position: -325px 0;
}
.firmos .dijitSliderReadOnly .dijitSliderImageHandleV,
.firmos .dijitSliderDisabled .dijitSliderImageHandleV {
  background-position: -343px 0;
}
/* ---- Increment/Decrement Buttons ---- */
.firmos .dijitSliderButtonContainerH {
  padding: 1px 3px 1px 2px;
}
.firmos .dijitSliderButtonContainerV {
  padding: 3px 1px 2px 1px;
}
.firmos .dijitSliderDecrementIconH,
.firmos .dijitSliderIncrementIconH,
.firmos .dijitSliderDecrementIconV,
.firmos .dijitSliderIncrementIconV {
  background-image: url("../form/images/commonFormArrows.png");
  background-repeat: no-repeat;
  background-color: #5673c4;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #414141;
  font-size: 1px;
}
.firmos .dijitSliderDecrementIconH,
.firmos .dijitSliderIncrementIconH {
  height: 12px;
  width: 9px;
}
.firmos .dijitSliderDecrementIconV,
.firmos .dijitSliderIncrementIconV {
  height: 9px;
  width: 12px;
}
.firmos .dijitSliderActive .dijitSliderDecrementIconH,
.firmos .dijitSliderActive .dijitSliderIncrementIconH,
.firmos .dijitSliderActive .dijitSliderDecrementIconV,
.firmos .dijitSliderActive .dijitSliderIncrementIconV,
.firmos .dijitSliderHover .dijitSliderDecrementIconH,
.firmos .dijitSliderHover .dijitSliderIncrementIconH,
.firmos .dijitSliderHover .dijitSliderDecrementIconV,
.firmos .dijitSliderHover .dijitSliderIncrementIconV {
  /* dijitSliderActive should be treated as dijitSliderHover since "clicking the slider" has no meaning */

  border: solid 1px #1e1e1e;
  background-color: #ffffff;
}
.firmos .dijitSliderDecrementIconH {
  background-position: -357px 50%;
}
.firmos .dijitSliderActive .dijitSliderDecrementIconH .firmos .dijitSliderHover .dijitSliderDecrementIconH {
  background-position: -393px 50%;
}
.firmos .dijitSliderIncrementIconH {
  background-position: -251px 50%;
}
.firmos .dijitSliderActive .dijitSliderIncrementIconH .firmos .dijitSliderHover .dijitSliderIncrementIconH {
  background-position: -283px 50%;
}
.firmos .dijitSliderDecrementIconV {
  background-position: -38px 50%;
}
.firmos .dijitSliderActive .dijitSliderDecrementIconV .firmos .dijitSliderHover .dijitSliderDecrementIconV {
  background-position: -73px 50%;
}
.firmos .dijitSliderIncrementIconV {
  background-position: -143px 49%;
}
.firmos .dijitSliderActive .dijitSliderIncrementIconV .firmos .dijitSliderHover .dijitSliderIncrementIconV {
  background-position: -178px 49%;
}
.firmos .dijitSliderButtonContainerV .dijitSliderDecrementButtonHover,
.firmos .dijitSliderButtonContainerH .dijitSliderDecrementButtonHover,
.firmos .dijitSliderButtonContainerV .dijitSliderIncrementButtonHover,
.firmos .dijitSliderButtonContainerH .dijitSliderIncrementButtonHover {
  background-color: #3f5490;
}
.firmos .dijitSliderButtonContainerV .dijitSliderDecrementButtonActive,
.firmos .dijitSliderButtonContainerH .dijitSliderDecrementButtonActive,
.firmos .dijitSliderButtonContainerV .dijitSliderIncrementButtonActive,
.firmos .dijitSliderButtonContainerH .dijitSliderIncrementButtonActive {
  background-color: #25408b;
  border-color: #1e1e1e;
}
.firmos .dijitSliderButtonInner {
  visibility: hidden;
}
.firmos .dijitSliderDisabled .dijitSliderBar {
  border-color: #c4c4c4;
}
.firmos .dijitSliderReadOnly *,
.firmos .dijitSliderDisabled * {
  border-color: #c4c4c4;
  color: #6f6f6f;
}
.firmos .dijitSliderReadOnly .dijitSliderDecrementIconH,
.firmos .dijitSliderDisabled .dijitSliderDecrementIconH {
  background-position: -321px 50%;
  background-color: #dddddd;
}
.firmos .dijitSliderReadOnly .dijitSliderIncrementIconH,
.firmos .dijitSliderDisabled .dijitSliderIncrementIconH {
  background-position: -215px 50%;
  background-color: #dddddd;
}
.firmos .dijitSliderReadOnly .dijitSliderDecrementIconV,
.firmos .dijitSliderDisabled .dijitSliderDecrementIconV {
  background-position: -3px 49%;
  background-color: #dddddd;
}
.firmos .dijitSliderReadOnly .dijitSliderIncrementIconV,
.firmos .dijitSliderDisabled .dijitSliderIncrementIconV {
  background-position: -107px 49%;
  background-color: #dddddd;
}
