.firmos .dijitContentPane{padding:8px;}
.firmos .dijitTabContainerTop-dijitContentPane,.firmos .dijitTabContainerLeft-dijitContentPane,.firmos .dijitTabContainerBottom-dijitContentPane,.firmos .dijitTabContainerRight-dijitContentPane,.firmos .dijitAccordionContainer-dijitContentPane{background-color:#ffffff;padding:8px;}
.firmos .dijitSplitContainer-dijitContentPane,.firmos .dijitBorderContainer-dijitContentPane{background-color:#ffffff;padding:8px;}
