.firmos .dijitInlineEditBoxDisplayMode{border:1px solid transparent;}
.firmos .dijitInlineEditBoxDisplayModeHover{background-color:#fafad2;border:solid 1px #1e1e1e;}
.dj_ie6 .firmos .dijitInlineEditBoxDisplayMode{border:none;}
