/* TitlePane 
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.firmos .dijitTitlePaneTitle {
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  border: 1px solid #414141;
  padding: 0 7px 3px 7px;
  min-height: 17px;
  background-color: #5673c4;
}
.firmos .dijitFieldset {
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.firmos .dijitTitlePaneTitleOpen,
.firmos .dijitTitlePaneTitleFixedOpen {
  background-color: #3f5490;
  color: #000000;
}
.firmos .dijitTitlePaneTitleHover {
  background-color: #25408b;
  border-color: #1e1e1e;
}
.firmos .dijitTitlePaneTitleActive {
  background-color: #1f2f5f;
  border-color: #1e1e1e;
  background-image: url("images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.firmos .dijitTitlePaneTitleFocus {
  margin-top: 3px;
  padding-bottom: 2px;
}
.firmos .dijitTitlePane .dijitArrowNode,
.firmos .dijitFieldset .dijitArrowNode {
  background-image: url("images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}
.firmos .dijitTitlePaneTitleOpen .dijitArrowNode,
.firmos .dijitFieldsetTitleOpen .dijitArrowNode {
  background-position: 0 0;
}
.firmos .dijitTitlePaneTitleClosed .dijitArrowNode,
.firmos .dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -14px 0;
}
.firmos .dijitTitlePaneContentOuter {
  background: #ffffff;
  border: 1px solid #414141;
  border-top: none;
}
.firmos .dijitTitlePaneContentInner {
  padding: 10px;
}
.firmos .dijitFieldsetContentInner {
  padding: 4px;
}
.firmos .dijitTitlePaneTextNode,
.firmos .dijitFieldsetLegendNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
